{% extends "base.html.twig" %}

{% block title 'Agence lorem ipsum' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Agence lorem ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa repellat nemo quasi reprehenderit, deleniti esse rerum porro ipsam quas eius quaerat, assumenda nisi tempore dolorum libero ratione natus blanditiis dolore.</p>
</div>
{% endblock %}

