
.pagination > li > a,
.pagination > li > span {
    color: grey;
}


.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: grey;
    border-color: grey;
}
